/* Defaults */
body,html{
    height:100%;
    width:100%;
    font-family: 'Fontin',sans-serif;
   
}
/* Owl CSS */
.owl-container{
    width:100%;

}
#owl-slider .item img{
    display: block;
    width: 100% !important;
    height: auto;
}
@media all and (max-width: 768px) and (min-width:   480px) {
    #owl-slider .item img{
        display: block;
        height: auto;
    }
}
@media all and (max-width: 480px) {
    #owl-slider .item img{
        display: block;
        width:100%;
        
    }
}
/* Bootstrap Override */

#logo {
    width:150px;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}
.navbar-nav > .active > a{
    background-color:#486E90 !important;
    color:#fff !important;
}
#main-nav{
    width:100%;
    z-index:10;
}