/* Defaults */
body,html{
    height:100%;
    width:100%;
}
/* Owl CSS */
.owl-container{
    width:100%;

}
#owl-slider .item img{
    display: block;
    width: 100% !important;
    height: auto;
}
@media all and (max-width: 768px) and (min-width:   480px) {
    #owl-slider .item img{
        display: block;
        width: 150% !important;
        height: auto;
            min-height:100%;
    }
}
@media all and (max-width: 480px) {
    #owl-slider .item img{
        display: block;
        width:auto;
        min-height:100%;
    }
}
/* Bootstrap Override */

#logo {
    width:150px;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}